# Next.js
companion/.next/
companion/out/

# Dependencies
companion/node_modules/

# Environment files
companion/.env
companion/.env.local
companion/.env.development.local
companion/.env.test.local
companion/.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
